<app-notification-toast />
<div class="flex h-screen w-full min-h-0 flex-col bg-jizbiz-bg text-jizbiz-text" style="padding-left: var(--safe-left); padding-right: var(--safe-right);">
  <div
    class="mx-auto flex min-h-0 min-w-0 flex-1 flex-col w-full max-w-[430px] bg-jizbiz-bg shadow-jizbiz"
    [style.padding-top]="isTelegram() ? '0' : 'max(1rem, var(--safe-top))'"
  >
    @if (isTelegram()) {
      <div class="shrink-0">
        <app-telegram-mini-app-header />
      </div>
    }
    <div
      #scrollContainer
      class="min-h-0 min-w-0 flex-1 overflow-y-auto overflow-x-hidden no-scrollbar"
    >
      <router-outlet></router-outlet>
    </div>
    @if (showBottomNav) {
      <div class="shrink-0">
        <app-bottom-nav></app-bottom-nav>
      </div>
    }
  </div>
</div>
